.center {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        height: 253px;
}

.centertext {
        text-align: center;
        font-family: Arial;
        font-size: large;
}
